{% extends '../formTemplate.twig' %}

{% block title %}
    Formularz Wycieczki
{% endblock %}

{% block header %}
    <h2>Formularz wycieczki</h2>
{% endblock %}

{% block form %}
    {% if update == 1 %}
<form id="signupForm" action="/wycieczka/update/{{ wycieczka.getIdWycieczka }}" method="POST">
    {% else %}
    <form id="signupForm" action="/wycieczka/dodaj" method="POST">
        {% endif %}

        <input type="hidden" id="ksiazeczka" name="ksiazeczka" value="{{ idKsiazeczka }}">

        <div class="form-group">
            <label for="opis">Krótki opis</label>
            <textarea class="form-control" id="opis" name="opis"
                      value="{{ wycieczka.getOpis }}" required>{{ wycieczka.getOpis }}</textarea>
        </div>

        <div class="form-group">
            <label for="dataOd">Data rozpoczęcia wycieczki</label>
            <input type="date" class="form-control" id="dataOd" name="dataOd" value="{{ wycieczka.getDataOd }}" min = {{ "now"|date("Y-MM-dd") }} max="2050-12-12" required>
        </div>

        <div class="form-group">
            <label for="dataDo">Data zakończenia wycieczki</label>
            <input type="date" class="form-control" id="dataDo" name="dataDo" value="{{ wycieczka.getDataDo }}" min = {{ "now"|date("Y-MM-dd") }}  max="2050-12-12" required>
        </div>

        <div class="form-group">
        <select name="odznaka" class="form-control" required>
            {% for odznaka in odznaki %}
                <option value={{odznaka.getIdOdznaka}}>"{{odznaka.getNazwa}}"</option>
            {%  endfor %}
        </select>
        </div>

        {% if update == 1 %}
            <input type="hidden" id="odznaka" name="odznaka" value="{{ wycieczka.getOdznaka.getIdOdznaka }}" />

            <input type="hidden" id="sumaPunktowDoGot" name="sumaPunktowDoGot" value="{{ wycieczka.getSumaPunktowDoGot }}"/>

            <input type="hidden" id="sumaPunktow" name="sumaPunktow" value="{{ wycieczka.getSumaPunktow }}"/>

            <input type="hidden" id="zatwierdzona" name="zatwierdzona" value="{{ wycieczka.getZatwierdzona }}"/>

            <input type="hidden" id="zgloszona" name="zgloszona" value="{{ wycieczka.getZgloszona }}"/>
        {% else %}
            <input type="hidden" id="odznaka" name="odznaka" value="{{ odznaki|last.getIdOdznaka }}" />

            <input type="hidden" id="sumaPunktowDoGot" name="sumaPunktowDoGot" value="0"/>

            <input type="hidden" id="sumaPunktow" name="sumaPunktow" value="0"/>

            <input type="hidden" id="zatwierdzona" name="zatwierdzona" value="0"/>

            <input type="hidden" id="zgloszona" name="zgloszona" value="0"/>
        {% endif %}

        <br/>
        {% if update == 1 %}
            <button type="submit" class="btn btn-info">Zmień</button>
        {% else %}
            <button type="submit" class="btn btn-info">Utwórz</button>
        {% endif %}
    </form>

    {% endblock %}
