{% extends '../baseTemplate.twig' %}

{% block title %}Odcinki{% endblock %}
{% block header %}
    Odcinki
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" width="20px">#</th>
            <th scope="col">Punkt początkowy</th>
            <th scope="col"></th>
            <th scope="col">Punkt końcowy</th>
            <th scope="col" width="50px">Punktacja</th>
            <th scope="col">Otwarty</th>
            <th scope="col">Pasmo</th>
            {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for odcinek in odcinki %}
            <tr>
                <td>{{ odcinek.getIdOdcinek }}</td>
                <td><!-- [{{ odcinek.getPunktPoczatkowy.getIdpunkt }}] --> <strong>{{ odcinek.getPunktPoczatkowy.getNazwa }}</strong></td>
                {% if odcinek.getPunktyDo != 0 %}
                    <td>↔️</td>
                {% else %}
                    <td>➡️️</td>
                {% endif %}
                <td><!--[{{ odcinek.getPunktKoncowy.getIdpunkt }}] --><strong>{{ odcinek.getPunktKoncowy.getNazwa }}</strong></td>
                {% if odcinek.getPunktyDo != 0 %}
                    <td>{{ odcinek.getPunktyOd}}/{{ odcinek.getPunktyDo }}</td>
                {% else %}
                    <td>{{ odcinek.getPunktyOd }}️️</td>
                {% endif %}
                {% if odcinek.getOtwarty != 0 %}
                    <td>Tak️️</td>
                {% else %}
                    <td>Nie</td>
                {% endif %}
                <td>{{  odcinek.getPasmo.getNazwa }}</td>

                {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                    <td class="text-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <abbr title="Edytuj"><a class="btn btn-sm bg-transparent"
                                                    href="/odcinki/form/{{ odcinek.getIdOdcinek }}">✏️</a></abbr>
                            <abbr title="Usuń"><a class="btn btn-sm bg-transparent"
                                                  href="/odcinki/usun/{{ odcinek.getIdOdcinek }}">🗑️</a></abbr>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
        <a class="btn btn-info" href="/odcinki/form" role="button"><i class="fas fa-plus">Dodaj</i></a>
    {% endif %}

{% endblock %}
