{% extends '../baseTemplate.twig' %}

{% block title %}Grupy Tabela{% endblock %}
{% block header %}
    Grupy górskie
{% endblock %}
{% block main %}
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade mt-0" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>

        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="/images/grupy/TatryiPodtatrze.jpg"
                         alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <a href="/pasmaGrupy/{{ grupy[0].getIdGrupa }}"><h1 class="h3-responsive" >{{grupy[0].getNazwa}} <br><iframe frameborder="0" marginwidth="0" marginheight="0" width="250" height="241" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=8&city_id=3101987"></iframe></h1></a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/grupy/BeskidyZachodnie.jpg"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <a href="/pasmaGrupy/{{ grupy[2].getIdGrupa }}"><h1 class="h3-responsive" >{{grupy[2].getNazwa}} <br><iframe frameborder="0" marginwidth="0" marginheight="0" width="250" height="241" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=8&city_id=776580"></iframe></h1></a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/grupy/BeskidyWschodnie.jpg"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <a href="/pasmaGrupy/{{ grupy[3].getIdGrupa }}"><h1 class="h3-responsive" >{{grupy[3].getNazwa}} <br> <iframe frameborder="0" marginwidth="0" marginheight="0" width="250" height="241" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=8&city_id=757036"></iframe></h1></a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/grupy/GorySwietokrzyskie.jpg"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <a href="/pasmaGrupy/{{ grupy[4].getIdGrupa }}"><h1 class="h3-responsive" >{{grupy[4].getNazwa}} <br><iframe frameborder="0" marginwidth="0" marginheight="0" width="250" height="241" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=8&city_id=765641"></iframe></h1></a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/images/grupy/Sudety.jpg"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <a href="/pasmaGrupy/{{ grupy[5].getIdGrupa }}"><h1 class="h3-responsive" >{{grupy[5].getNazwa}} <br> <iframe frameborder="0" marginwidth="0" marginheight="0" width="250" height="241" scrolling="NO" src="http://instytutmeteo.pl/userwidget/sitewidgets?id=8&city_id=6285414"></iframe></h1></a>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->



{% endblock %}