<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <title>{% block title %}Tytuł Strony{% endblock %}</title>

        <!-- JS i CSS niezbędny do działania strony -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
         
        
       
        

        
       

        <link href="/css/globalCSS.css" rel="stylesheet">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
        <script type="text/javascript" src="/js/globalJS.js"></script>
        <script type="text/javascript" src="/js/dataTables.min.js"></script>
        <script type="text/javascript" src="/js/effects.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
        
        
        



        <!-- ______________________________________ -->

        <!-- Dodatkowy JS -->
        {% block js %}
            <!-- Dodatkowy JS -->
        <script type="text/javascript" src="/js/lightbox.js"></script>
        <script type="text/javascript" src="/js/zdjecieWycieczkaFormDod.js"></script>
        <script type="text/javascript" src="/js/odswiez.js"></script>
        <script type="text/javascript" src="/js/ValidationRegisterForm.js"></script>
        <script type="text/javascript" src="/js/ValidationUpdateForm.js"></script>
        <script type="text/javascript" src="/js/passwordVisibility.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script type="text/javascript" src="/js/select2Trasy.js"></script>
        
     
        
        
        {% endblock %}

        <!-- Dodatkowy CSS -->
        {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <link href="/css/turystaKonto.css" rel="stylesheet">
        <link href="/css/lightbox.css" rel="stylesheet">
        
        {% endblock %}

    {% endblock %}
    </head>

    <body>
    {% include 'banner.twig' %}
    {% include 'logo.twig' %}
    {% include 'navBar.twig' %}

    <div class="container pt-5 pb-5" {% block containerCss %}style="display: none" {% endblock %}>

        {% if success_msg is defined %}
            <div class="flash-msg alert alert-success" role="alert" style='display:none;'>
                {{ success_msg }}
            </div>
        {% endif %}
        {% if error_msg is defined %}
            <div class="flash-msg alert alert-danger" role="alert" style='display:none;'>
                {{ error_msg }}
            </div>
        {% endif %}
        {% if info_msg is defined %}
            <div class="flash-msg alert alert-info" role="alert" style='display:none;'>
                {{ info_msg }}
            </div>
        {% endif %}
        {% if warning_msg is defined %}
            <div class="alert alert-warning" role="alert" style='display:none;'>
                {{ warning_msg }}
            </div>
        {% endif %}


        {% if app.request.parameter.get("success") == 'true' %}
            <div class="flash-msg alert alert-success" role="alert" style='display:none;'>
                Wylogowano pomyślnie
            </div>

        {% endif %}

        {{ wiadomosc }}

            <header class="mb-1">
                <h2>
                    {% block header %}


                    {% endblock %}
                </h2>
            </header>

            <div class="row" >
                <div class="col-12 mt-1">
                    {% block main %}

                        Main Content

                    {% endblock %}
                </div>
            </div>

    </div>

    {% include 'footer.twig' %}
    </body>

</html>
