{% extends '../baseTemplate.twig' %}
{% block title %}Konfiguracja odcinków{% endblock %}
{% block containerCss %} {% endblock %}
{% block header %}
    Konfiguracja odcinków {{ trasa.getData }}
{% endblock %}
{% block main %}
    {% set i = odcinkiTrasy|last.getIdTrasaOdcinek %}
    {% if odcinkiTrasy == null %}
    {% else %}
        {% if odcinkiTrasy|last.getPowrot == 0 %}
            {% set lastIdPK = odcinkiTrasy|last.getOdcinek.getPunktKoncowy.getIdpunkt %}
        {% else %}
            {% set lastIdPK = odcinkiTrasy|last.getOdcinek.getPunktPoczatkowy.getIdpunkt %}
        {% endif %}
    {% endif %}

    <h6>Opis:</h6>
    <div class="text-justify"
         style="max-width: 35%; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; word-wrap: break-word;">
        <p>{{ trasa.getOpis }}</p>
    </div>

    <h5 style="text-align: right;"><strong>Suma punktów: {{ trasa.getSuma_punktow }}<br/>
            Suma do GOT: {{ trasa.getSumaPunktowDoGot }}</strong>
        {% if trasa.getDubel == 1 %}
            <abbr title="Twoja trasa zawiera zdublowane odcinki, które nie będą brane pod uwagę do punktacji GOT">❗</abbr>
        {% endif %}
    </h5>

    <table id="" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Punkt A</th>
            <th scope="col">Kierunek</th>
            <th scope="col">Punkt B</th>
            <th scope="col">Punkty</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for odcinekTrasy in odcinkiTrasy %}
            <tr>
                {% if odcinekTrasy.getPowrot == 0 %}
                    <td>{{ odcinekTrasy.getOdcinek.getPunktPoczatkowy.getNazwa }}</td>
                    <td>&#129138;&#129138;</td>
                    <td><strong>{{ odcinekTrasy.getOdcinek.getPunktKoncowy.getNazwa }}</strong></td>
                {% else %}
                    <td><strong>{{ odcinekTrasy.getOdcinek.getPunktPoczatkowy.getNazwa }}</strong></td>
                    <td>&#129136;&#129136;</td>
                    <td>{{ odcinekTrasy.getOdcinek.getPunktKoncowy.getNazwa }}</td>
                {% endif %}

                {% if odcinekTrasy.getDubel == 0 %}
                    <td>{{ odcinekTrasy.getPunkty }}</td>
                {% else %}
                    <td>{{ odcinekTrasy.getPunkty }} ❗</td>
                {% endif %}


                <td class="text-right">
                    {% if odcinekTrasy.getIdTrasaOdcinek == i %}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            {% if trasa.getWycieczka.getZgloszona == 1 or trasa.getWycieczka.getZatwierdzona == 1 or trasa.getZrealizowana == 1 %}
                            {% else %}
                                <abbr title="Usuń"><a class="btn btn-sm bg-transparent"
                                                      href="/trasa_odcinki/usun/{{ odcinekTrasy.getIdTrasaOdcinek }}">❌</a></abbr>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    {% if trasa.getWycieczka.getZgloszona == 1 or trasa.getWycieczka.getZatwierdzona == 1 or trasa.getZrealizowana == 1 %}
    {% else %}
    <div class="row">
        <div class="col-12 col-md-8" id="form">

            <form id="addForm" action="/trasa_odcinki/dodaj/{{ lastIdPK }}" method="POST">

                <input type="hidden" name="trasa" id="trasa" value="{{ trasa.getIdTrasa }}"/>
                <input type="hidden" name="punkty" id="punkty" value="0"/>
                <input type="hidden" name="powrot" id="powrot" value="0"/>
                <input type="hidden" id="dubel" name="dubel" value="0"/>

                <div class="form-group input-group">
                    <select name="odcinek" class="form-control js-example-basic-single mdb-select md-form" required>
                        <option value="">--Wybierz odcinek--</option>
                        {% for odcinek in odcinki %}
                        {% if odcinek. getOtwarty == 0 %}
                        	<option value="{{ odcinek.getIdOdcinek }}" disabled>{{ odcinek.getPunktPoczatkowy.getNazwa }}
                                    &nbsp;&nbsp;&nbsp;<strong>&#11108;</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ odcinek.getPunktKoncowy.getNazwa }}
                                    [{{ odcinek.getPunktyOd }}/{{ odcinek.getPunktyDo }}]
                                </option>
                                
                                {% elseif odcinek.getPunktyDo != 0 %}
                                <option value="{{ odcinek.getIdOdcinek }}">{{ odcinek.getPunktPoczatkowy.getNazwa }}
                                    &nbsp;&nbsp;&nbsp;<strong>&#11108;</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ odcinek.getPunktKoncowy.getNazwa }}
                                    [{{ odcinek.getPunktyOd }}/{{ odcinek.getPunktyDo }}]
                                </option>
                                
                                {% else %}
                                <option value="{{ odcinek.getIdOdcinek }}">{{ odcinek.getPunktPoczatkowy.getNazwa }}
                                    &nbsp;&nbsp;&nbsp;<strong>&#11106;</strong>️
                                    &nbsp;&nbsp;&nbsp;{{ odcinek.getPunktKoncowy.getNazwa }} [{{ odcinek.getPunktyOd }}]
                                </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br />
                </div>
                <span class="input-group-btn">
                        <button type="submit" class="btn btn-info"><i class="fas fa-plus">Dodaj</i></button>
                    </span>

            </form>

        </div>
    </div>
    {% endif %}
   
    <div class="mt-5">
        {% if trasa.getWycieczka.getZgloszona == 1 or trasa.getWycieczka.getZatwierdzona == 1 or trasa.getZrealizowana == 1 %}
            <a class="btn btn-dark" role="button" href="/trasy/{{ trasa.getWycieczka.getIdWycieczka }}"> Ok ✔️</a>
        {% else %}
            <a class="btn btn-dark" role="button" href="/trasy/{{ trasa.getWycieczka.getIdWycieczka }}"> Zatwierdź ✔️</a>
            <a class="btn btn-danger" role="button" href="/trasa_odcinki/usun_wszystko/{{ trasa.getIdTrasa }}"> Usuń
                wszystko 🗑️</a>
        {% endif %}
    </div>
    <br><br>
    <h3>Zamknięte Odcinki</h3>
    	 <table id="" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Punkt A</th>
            <th scope="col">Kierunek</th>
            <th scope="col">Punkt B</th>
            <th scope="col">Punkty</th>
        </tr>
        </thead>
        <tbody>
        {% for zamkniete in odcinkiZamkniete %}
            <tr>
                    <td>{{ zamkniete.getPunktPoczatkowy.getNazwa }}</td>
                    <td><strong>&#8654;</strong></td>
                    <td>{{ zamkniete.getPunktKoncowy.getNazwa }}</td>
                    <td>{{ zamkniete.getPunktyOd }}/{{ zamkniete.getPunktyDo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
